<form [formGroup]="form">
  <div class="form-group">
    <label for="username">Username</label>
    <input formControlName="username" type="text" id="username" class="form-control">
    <div class="alert alert-danger" *ngIf="username?.touched && username?.invalid" >
      <div *ngIf="username?.errors?.required" >
        Username is required
      </div>
      <div *ngIf="username?.errors?.minlength" >
        Au moins {{username?.errors?.minlength?.actualLength}}
        /   {{username?.errors?.minlength?.requiredLength}} chars
      </div>
      <div *ngIf="username?.errors?.cannotContainSpace">
        This field cannot contains space
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input formControlName="password" type="password" id="password" class="form-control">
    <div class="alert alert-danger" *ngIf="password?.touched && password?.invalid" >
      <div *ngIf="password?.errors?.required" >
        Password is required
      </div>
      <div *ngIf="password?.errors?.minlength" >
        Au moins {{password?.errors?.minlength?.actualLength}}
        /   {{password?.errors?.minlength?.requiredLength}} chars
      </div>
    </div>
  </div>
  <div  class="form-group">
    <button class="btn btn-warning">Sign up</button>
  </div>
</form>
